<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间，可以对sql进行分类的一个管理 -->
<mapper namespace="com.yjy.mapper.CourseMapper">
    <!--查询-->
    <select id="listCourse" resultType="com.yjy.model.Course" parameterType="com.yjy.dto.LayUiDto">
        select course_id courseId,
               course_name name,
               photo,
               course_hour courseHour,
               is_shaky isShaky,
               course_code courseCode,
               price,
               course_state courseState,
               course_describe courseDescribe,
               start_time startTime,
               end_time endTime,
               pay_number payNumber,
               school_name schoolName,
               shelf_time shelfTime,
               shelf_left_time shelfLeftTime,
               is_show pure,
               is_delete isDelete,
               create_time createTime,
               update_time updateTime
        from t_course_info
     where is_delete=0
       <if test="name !=null and name !=''">
           and course_name like concat('%',#{name},'%')
       </if>
        <if test="schoolName !=null and schoolName !='' ">
            and school_name like concat('%',#{schoolName},'%')
        </if>
        limit #{dataNum},#{limit};
    </select>

    <!--总页数-->
    <select id="count" resultType="java.lang.Integer" parameterType="com.yjy.dto.LayUiDto">
        select count(1) from t_course_info
         where is_delete=0
            <if test="name !=null and name !=''">
                and course_name like concat('%',#{name},'%')
            </if>
        <if test="schoolName !=null and schoolName !='' ">
            and school_name like concat('%',#{schoolName},'%')
        </if>
    </select>

    <!--添加-->
    <insert id="insertCourse" parameterType="com.yjy.model.Course">
      insert into t_course_info(course_id,course_name,photo,course_hour,is_shaky,price,course_state,course_describe,start_time,end_time,school_name,shelf_time,shelf_left_time,is_show,is_delete,create_time,update_time)
                        values (#{courseId},#{name},#{photo},#{courseHour},#{isShaky},#{price},#{courseState},#{courseDescribe},#{startTime},#{endTime},#{schoolName},#{shelfTime},#{shelfLeftTime},#{pure},#{isDelete},#{createTime},#{updateTime})
    </insert>

   <!--修改-->
    <update id="updateCourse" parameterType="com.yjy.model.Course">
        update t_course_info
        <trim prefix="set" suffixOverrides=",">
                <if test="name !=null">course_name=#{name},</if>
                <if test="photo !=null">photo=#{photo},</if>
                <if test="courseHour !=null">course_hour=#{courseHour},</if>
                <if test="isShaky !=null">is_shaky=#{isShaky},</if>
                <if test="price !=null">price=#{price},</if>
                <if test="courseState !=null">course_state=#{courseState},</if>
                <if test="courseDescribe !=null">course_describe=#{courseDescribe},</if>
                <if test="startTime !=null">start_time=#{startTime},</if>
                <if test="endTime !=null">end_time=#{endTime},</if>
                <if test="schoolName !=null">school_name=#{schoolName},</if>
                <if test="shelfTime !=null">shelf_time=#{shelfTime},</if>
                <if test="shelfLeftTime !=null">shelf_left_time=#{shelfLeftTime},</if>
                <if test="pure !=null">is_show=#{pure},</if>
                <if test="updateTime !=null">update_time=#{updateTime}</if>
        </trim>
        where course_id=#{courseId}
    </update>

    <!--删除课程-->
    <update id="deleteCourse">
        update t_course_info
          set is_delete=1
         where course_id=#{courseId}
    </update>

    <!-- 删除时更新时间 -->
    <update id="deleteTime" parameterType="com.yjy.model.Course">
        update t_course_info
        set update_time=#{updateTime}
        where course_id=#{courseId}
    </update>
</mapper>