<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjy.mapper.GradeMapper">
    <sql id="start">
        grade_id gradeId,grade_name gradeName,grade_time gradeTime,photo,grade_describe gradeDescribe,grade_state gradeState,school_id schoolId,
        create_time createTime,
        update_time updateTime
    </sql>
    <!-- 列表+查询 -->
    <select id="list" parameterType="com.yjy.dto.LayUiDto" resultType="com.yjy.model.Grade">
        select
        <include refid="start"></include>
        from t_grade_info
        where is_delete=0
        <if test="id !=null and id !=''">
            and grade_id like concat('%',#{id},'%')
        </if>
        <if test="name !=null and name !=''">
            and grade_name like concat('%',#{name},'%')
        </if>
        <if test="state !=null and state !=''">
            and grade_state like concat('%',#{state},'%')
        </if>
        order by grade_id asc
        limit #{dataNum},#{limit}
    </select>
    <!-- 总数 -->
    <select id="count" parameterType="com.yjy.dto.LayUiDto" resultType="java.lang.Integer">
        select
        count(1)
        from t_grade_info
        where is_delete=0
        <if test="id !=null and id !=''">
            and grade_id like concat('%',#{id},'%')
        </if>
        <if test="name !=null and name !=''">
            and grade_name like concat('%',#{name},'%')
        </if>
        <if test="state !=null and state !=''">
            and grade_state like concat('%',#{state},'%')
        </if>
    </select>

    <!-- 详情 -->
    <select id="load" resultType="com.yjy.model.Student">
        select
        <include refid="start"></include>
        from t_student_info
        where student_id=#{0}
    </select>
    <!-- 修改 -->
    <update id="update" parameterType="com.yjy.model.Student">
        update t_student_info
        <trim prefix="set " suffixOverrides=",">
            <if test="name !=null">student_name=#{name},</if>
            <if test="birthday !=null">birthday=#{birthday},</if>
            <if test="gender !=null">gender=#{gender},</if>
            <if test="number !=null">student_number=#{number},</if>
            <if test="photo !=null">photo=#{photo},</if>
            <if test="schoolId !=null">school_id=#{schoolId},</if>
            <if test="updateTime !=null">update_time=#{updateTime},</if>
        </trim>
        where student_id=#{id}
    </update>
    <!-- 删除 -->
    <update id="remove">
        update t_student_info set is_delete=1
        where student_id=#{arg0}
    </update>
    <!-- 增加 -->
    <insert id="insert" parameterType="com.yjy.model.Student">
        insert into t_student_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId !=null">student_id,</if>
            <if test="studentName !=null">student_name,</if>
            <if test="birthday !=null">birthday,</if>
            <if test="age !=null">age,</if>
            <if test="gender !=null">gender,</if>
            <if test="studentNumber !=null">student_number,</if>
            <if test="photo !=null">photo,</if>
            <if test="schoolId !=null">school_id,</if>
            <if test="createTime !=null">create_time,</if>
            <if test="updateTime !=null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId !=null">#{studentId},</if>
            <if test="studentName !=null">#{studentName},</if>
            <if test="birthday !=null">#{birthday},</if>
            <if test="age !=null">#{age},</if>
            <if test="gender !=null">#{gender},</if>
            <if test="studentNumber !=null">#{studentNumber},</if>
            <if test="photo !=null">#{photo},</if>
            <if test="schoolId !=null">#{schoolId},</if>
            <if test="createTime !=null">#{createTime},</if>
            <if test="updateTime !=null">#{updateTime},</if>
        </trim>
    </insert>
</mapper>