<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjy.mapper.TeacherMapper">
    <select id="list" parameterType="com.yjy.dto.LayUiDto" resultType="com.yjy.model.Teacher">
        select teacher_id as teacherId,teacher_name as teacherName,teacher_password as teacherPassword,teacher_phone as teacherPhone,teacher_photo as teacherPhoto,teacher_sex as teacherSex,is_delete as isDelete,teacher_regtime as teacherRegtime,update_time as updateTime from t_user_teacher where is_delete=0
        <if test="name !=null and name !=''"> and teacher_name like concat('%',#{name},'%') </if>
        order by teacher_id asc limit #{dataNum},#{limit}
    </select>
    <!--  总数  -->
    <select id="count" parameterType="com.yjy.dto.LayUiDto" resultType="java.lang.Integer">
        select count(1) from t_user_teacher where is_delete=0
        <if test="name !=null and name !=''"> and teacher_name like concat('%',#{name},'%') </if>
    </select>
    <!-- 添加用户信息 -->
    <insert id="insertTeacher" parameterType="com.yjy.model.Teacher">
        insert into t_user_teacher(teacher_id,teacher_name,teacher_password,teacher_phone,teacher_photo,teacher_sex,teacher_regtime)
        values (#{teacherId},#{teacherName},#{teacherPassword},#{teacherPhone},#{teacherPhoto},#{teacherSex},#{teacherRegtime})
    </insert>
    <!-- 删除用户信息 -->
    <update id="deleteTeacher" parameterType="com.yjy.model.Teacher">
        update t_user_teacher set is_delete = 1,update_time = #{updateTime} where teacher_id = #{teacherId}
    </update>
    <!-- 修改用户信息 -->
    <update id="updateTeacher" parameterType="com.yjy.model.Teacher">
        update t_user_teacher
        <trim prefix="set " suffixOverrides=",">
            <if test="teacherName !=null">teacher_name=#{teacherName},</if>
            <if test="teacherPhone !=null">teacher_phone=#{teacherPhone},</if>
            <if test="teacherPhoto !=null">teacher_photo=#{teacherPhoto},</if>
            <if test="teacherSex !=null">teacher_sex=#{teacherSex},</if>
            <if test="updateTime !=null">update_time=#{updateTime},</if>
        </trim>
        where teacher_id=#{teacherId}
    </update>
    <!-- 删除时改变修改时间 -->
    <update id="updateTime" parameterType="com.yjy.model.Teacher">
        update t_user_teacher set update_time = #{updateTime} where teacher_id = #{teacherId}
    </update>
</mapper>