<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间，可以对sql进行分类的一个管理 -->
<mapper namespace="com.app.mapper.WxCourseMapper">
    <!--查询-->
    <select id="listCourse" resultType="com.yjy.model.Course" parameterType="com.yjy.dto.LayUiDto">
        select course_id courseId,
               course_name name,
               photo,
               course_hour courseHour,
               is_shaky isShaky,
               course_code courseCode,
               price,
               course_state courseState,
               course_describe courseDescribe,
               start_time startTime,
               end_time endTime,
               pay_number payNumber,
               school_name schoolName,
               shelf_time shelfTime,
               shelf_left_time shelfLeftTime,
               is_show pure,
               is_delete isDelete,
               create_time createTime,
               update_time updateTime
        from t_course_info
     where is_delete=0
       <if test="name !=null and name !=''">
           and course_name like concat('%',#{name},'%')
       </if>
        <if test="schoolName !=null and schoolName !='' ">
            and school_name like concat('%',#{schoolName},'%')
        </if>
        limit #{dataNum},#{limit};
    </select>

    <!--接口 报名模块-->
   <select id="loadCourseById" parameterType="String" resultType="com.yjy.model.Course">
       select course_id courseId,
              course_name name,
              course_hour courseHour,
              price,
              course_describe courseDescribe,
              start_time startTime,
              end_time endTime,
       from t_course_info
       where course_id=#{courseId}
   </select>
</mapper>