<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间，可以对sql进行分类的一个管理 -->
<mapper namespace="com.app.mapper.WxCourseMapper">
    <!--课程列表-->
    <select id="listCourse" resultType="com.yjy.model.Course" parameterType="com.yjy.dto.LayUiDto">
        select course_id courseId,
               course_name name,
               photo,
               course_hour courseHour,
               price,
               course_describe courseDescribe,
               start_time startTime,
               pay_number payNumber
        from t_course_info
     where is_show=1
       <if test="name !=null and name !=''">
           and course_name like concat('%',#{name},'%')
       </if>
    </select>

    <!--接口 报名模块-->
   <select id="loadCourseById" parameterType="String" resultType="com.yjy.model.Course">
       select course_id courseId,
              course_name name,
              course_hour courseHour,
              price,
              course_describe courseDescribe,
              start_time startTime,
              end_time endTime
       from t_course_info
       where course_id=#{courseId}
   </select>
</mapper>