<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.WxEnrollMapper">
<!--    接口  查询学员不在班级学员表中的报名记录-->
    <select id="listByGrade" parameterType="com.app.dto.WxAllDto" resultType="com.yjy.model.Enroll">
        select t_enroll_info.student_name studentName,t_enroll_info.pay_type payType, t_enroll_info.model model,t_enroll_info.enroll_id
        from t_enroll_info left join r_student_enroll on t_enroll_info.enroll_id=r_student_enroll.enroll_id
        where r_student_enroll.student_id not in (select student_id from r_grade_student where student_state=0)
        <if test="payType !=null and payType !=''">
            and pay_type = #{payType}
        </if>
        <if test="model !=null and model !=''">
            and model = #{model}
        </if>
        <if test="search !=null and search !=''">
            and concat(student_name,pay_type,model) like concat('%',#{search},'%')
        </if>
        <if test="sort !=null and sort !=''">
            order by  enroll_id  ${sort}
        </if>
    </select>

    <!--  支付成功后生成报名记录  -->
    <insert id="insertEnroll" parameterType="com.yjy.model.Enroll">
        insert into t_enroll_info(enroll_id,school_name,student_name,pay_type,model,course_name,creat_time)
        values (#{enrollId},#{schoolNme},#{studentName},#{payType},1,#{courseName},#{creatTime})
    </insert>
</mapper>