<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.WxEnrollTypeMapper">
    <!--    点击支付后生成支付状态 -->
    <insert id="insertEnrollType" parameterType="com.yjy.model.EnrollType">
        insert into t_enroll_type(pay_type,student_name) values (#{payType},#{studentName})
    </insert>
</mapper>