<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.WxGradeMapper">
    <sql id="start">
        grade_id gradeId,grade_name gradeName,teacher_name teacherName,grade_time gradeTime,photo,grade_describe gradeDescribe,grade_state gradeState,school_name schoolName,
        total_count totalCount,
        create_time createTime,
        update_time updateTime
    </sql>
    <!-- 列表+查询 -->
    <select id="listAll" parameterType="com.app.dto.WxAllDto" resultType="com.yjy.model.Grade">
        select
        <include refid="start"></include>
        from t_grade_info
        where is_delete=0
        <if test="schoolName !=null and schoolName !=''">
            and school_name=#{schoolName}
        </if>
<!--        <if test="gradeId !=null and gradeId !=''">-->
<!--            and grade_id=#{gradeId}-->
<!--        </if>-->
    </select>

    <!-- 根据班级id查询单个班级信息 -->
    <select id="loadById" resultType="com.yjy.model.Grade">
        select
        <include refid="start"></include>
        from t_grade_info
        where grade_id=#{gradeId}
    </select>

    <!-- 编辑班级详情 -->
    <update id="updateInfo" parameterType="com.yjy.model.Grade">
        update t_grade_info
        <trim prefix="set " suffixOverrides=",">
            <if test="gradeName !=null">grade_name=#{gradeName},</if>
            <if test="teacherName !=null">teacher_name=#{teacherName},</if>
            <if test="gradeTime !=null">grade_time=#{gradeTime},</if>
            <if test="photo !=null">photo=#{photo},</if>
            <if test="gradeDescribe !=null">grade_describe=#{gradeDescribe},</if>
            <if test="gradeState !=null">grade_state=#{gradeState},</if>
            <if test="schoolName !=null">school_name=#{schoolName},</if>
            <if test="updateTime !=null">update_time=#{updateTime},</if>
        </trim>
        where grade_id=#{gradeId}
    </update>
    <!-- 删除 -->
    <update id="delete">
        update t_grade_info set is_delete=1
        where grade_id=#{arg0}
    </update>
    <!-- 新增校区班级 -->
    <insert id="insertGrade" parameterType="com.yjy.model.Grade">
        insert into t_grade_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gradeId !=null">grade_id,</if>
            <if test="gradeName !=null">grade_name,</if>
            <if test="teacherName !=null">teacher_name,</if>
            <if test="gradeTime !=null">grade_time,</if>
            <if test="photo !=null">photo,</if>
            <if test="gradeDescribe !=null">grade_describe,</if>
            <if test="gradeState !=null">grade_state,</if>
            <if test="schoolName !=null">school_name,</if>
            <if test="createTime !=null">create_time,</if>
            <if test="updateTime !=null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gradeId !=null">#{gradeId},</if>
            <if test="gradeName !=null">#{gradeName},</if>
            <if test="teacherName !=null">#{teacherName},</if>
            <if test="gradeTime !=null">#{gradeTime},</if>
            <if test="photo !=null">#{photo},</if>
            <if test="gradeDescribe !=null">#{gradeDescribe},</if>
            <if test="gradeState !=null">#{gradeState},</if>
            <if test="schoolName !=null">#{schoolName},</if>
            <if test="createTime !=null">create_time,</if>
            <if test="updateTime !=null">#{updateTime},</if>
        </trim>
    </insert>
    <!-- 删除时更新时间 -->
    <update id="updateTime" parameterType="com.yjy.model.Grade">
        update t_grade_info
        set update_time=#{updateTime}
        where grade_id=#{gradeId}
    </update>
</mapper>