<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.WxGradeStudentMapper">
    <sql id="start">
        id,grade_id gradeId,student_id studentId,student_state studentState,
        join_time joinTime,left_time leftTime
    </sql>
    <sql id="student">
        student_id studentId,student_name studentName,birthday,age,gender,student_number studentNumber,student_code studentCode,photo,school_name schoolName,
        create_time createTime,
        update_time updateTime
    </sql>

    <!-- 总数 -->
    <select id="count" parameterType="com.yjy.dto.RelationDto" resultType="java.lang.Integer">
        select
        count(1)
        from r_grade_student
        <where>
            <if test="id !=null and id !=''">
                and id like concat('%',#{id},'%')
            </if>
            <if test="mainId !=null and mainId !=''">
                and grade_id like concat('%',#{mainId},'%')
            </if>
            <if test="otherId !=null and otherId !=''">
                and student_id like concat('%',#{otherId},'%')
            </if>
            <if test="state !=null and state !=''">
                and student_state like #{state}
            </if>
        </where>
    </select>

    <!-- 详情 -->
    <select id="load" resultType="com.yjy.model.GradeStudent">
        select
        <include refid="start"></include>
        from r_grade_student
        where id=#{id}
    </select>

    <!-- 修改 -->
    <update id="updateState" parameterType="com.yjy.model.GradeStudent">
        update r_grade_student
        set student_state=1,left_time=#{leftTime}
        where id=#{id}
    </update>
    <!-- 增加 -->
    <insert id="insertGrade" parameterType="com.yjy.model.GradeStudent">
        insert into r_grade_student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id !=null">id,</if>
            <if test="gradeId !=null">grade_id,</if>
            <if test="studentId !=null">student_id,</if>
            <if test="studentState !=null">student_state,</if>
            <if test="joinTime !=null">join_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id !=null">#{id},</if>
            <if test="gradeId !=null">#{gradeId},</if>
            <if test="studentId !=null">#{studentId},</if>
            <if test="studentState !=null">#{studentState},</if>
            <if test="joinTime !=null">#{joinTime},</if>
        </trim>
    </insert>
</mapper>