<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间，可以对sql进行分类的一个管理 -->
<mapper namespace="com.app.mapper.WxHourMapper">
    <!--查询-->
    <select id="listHour" resultType="com.yjy.model.Hour" parameterType="com.yjy.dto.LayUiDto">
       select hour_id hourId,
              student_name studentName,
              course_name courseName,
              teacher_name teacherName,
              course_hour courseHour,
              remain_hour remainHour,
              reason,
              school_name schoolName,
              record,
              is_show pure,
              is_delete isDelete,
              create_time createTime,
              update_time updateTime
       from t_hour_info
       where is_delete=0
       <if test="studentName !=null and studentName !='' ">
           and student_name like concat('%',#{studentName},'%')
       </if>
        <if test="teacherName !=null and teacherName !='' ">
            and teacher_name like concat('%',#{teacherName},'%')
        </if>
       <if test="schoolName !=null and schoolName !='' ">
            and school_name like concat('%',#{schoolName},'%')
       </if>
        limit #{dataNum},#{limit};
    </select>

    <!--接口 根据id查-->
    <select id="loadHourById" resultType="com.yjy.model.Hour" parameterType="String">
        select hour_id hourId,
               student_name studentName,
               course_name courseName,
               teacher_name teacherName,
               course_hour courseHour,
               remain_hour remainHour,
               reason,
               school_name schoolName,
               record,
               is_show pure,
               is_delete isDelete,
               create_time createTime,
               update_time updateTime
        from t_hour_info
        where hourId=#{hourId}
    </select>

</mapper>