<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.WxStudentMapper">
    <sql id="start">
        student_id studentId,student_name studentName,birthday,age,gender,student_number studentNumber,student_code studentCode,photo,school_name schoolName,
        create_time createTime,
        update_time updateTime
    </sql>
    <sql id="student">
        t_student_info.student_id studentId,t_student_info.student_name studentName,t_student_info.birthday,t_student_info.age,t_student_info.gender,
        t_student_info.student_number studentNumber,t_student_info.student_code studentCode,t_student_info.photo,t_student_info.school_name schoolName,
    </sql>
    <resultMap id="studentMap" type="com.yjy.model.Student">
        <id column="student_id" property="studentId"></id>
        <result column="student_name" property="studentName"></result>
        <result column="birthday" property="birthday"></result>
        <result column="age" property="age"></result>
        <result column="photo" property="photo"></result>
        <collection property="gradeList" ofType="com.yjy.model.Grade">
            <id  column="grade_id" property="gradeId"></id>
            <result column="grade_name" property="gradeName"></result>
        </collection>
        <collection property="enrollList" ofType="com.yjy.model.Enroll">
            <id column="enroll_id" property="enrollId"></id>
            <result column="creat_time" property="creatTime"></result>
        </collection>
        <collection property="hourList" ofType="com.yjy.model.Hour">
            <id column="hour_id" property="hourId"></id>
            <result column="remain_hour" property="remainHour"></result>
        </collection>
    </resultMap>
    <resultMap id="studentMap2" type="com.yjy.model.Student">
        <id column="student_id" property="studentId"></id>
        <result column="student_name" property="studentName"></result>
        <result column="birthday" property="birthday"></result>
        <result column="school_name" property="schoolName"></result>
        <result column="photo" property="photo"></result>
        <collection property="gradeList" ofType="com.yjy.model.Grade">
            <id  column="grade_id" property="gradeId"></id>
            <result column="grade_name" property="gradeName"></result>
        </collection>
        <collection property="hourList" ofType="com.yjy.model.Hour">
            <id column="hour_id" property="hourId"></id>
            <result column="remain_hour" property="remainHour"></result>
        </collection>
    </resultMap>
    <resultMap id="sMap" type="com.yjy.model.Student">
        <id column="student_id" property="studentId"></id>
        <result column="student_name" property="studentName"></result>
        <collection property="gradeList" ofType="com.yjy.model.Grade">
            <id column="grade_id" property="gradeId"></id>
            <result column="grade_name" property="gradeName"></result>
        </collection>
        <collection property="hourList" ofType="com.yjy.model.Hour">
            <id column="hour_id" property="hourId"></id>
            <result column="remain_hour" property="remainHour"></result>
        </collection>
    </resultMap>
    <!-- 根据班级id查询班级下的所有学员姓名、课时、所在班级 -->
    <select id="listStudent" parameterType="com.app.dto.WxAllDto" resultMap="sMap">
        select t_student_info.student_name,t_grade_info.grade_name,t_hour_info.remain_hour
        from t_student_info right join r_grade_student on r_grade_student.student_id=t_student_info.student_id
        right join t_grade_info on r_grade_student.grade_id=t_grade_info.grade_id
        right join r_hour_student on r_hour_student.student_id=t_student_info.student_id
        right join t_hour_info on t_hour_info.hour_id=r_hour_student.hour_id
        where r_grade_student.grade_id=#{gradeId} and t_student_info.is_delete=0 and r_grade_student.student_state=0
        <if test="search !=null and search !=''">
            and concat(t_student_info.student_name,t_grade_info.grade_name,t_hour_info.remain_hour) like concat('%',#{search},'%')
        </if>
        <if test="schoolName !=null and schoolName !=''">
            and t_grade_info.school_name = #{schoolName}
        </if>
    </select>
    <!-- 学员管理-学员列表 -->
    <select id="listAllStudent" parameterType="com.app.dto.WxAllDto" resultMap="sMap">
        select t_student_info.student_name,t_grade_info.grade_name,t_hour_info.remain_hour,t_student_info.student_id
        from t_student_info right join r_grade_student on r_grade_student.student_id=t_student_info.student_id
        right join t_grade_info on r_grade_student.grade_id=t_grade_info.grade_id
        right join r_hour_student on r_hour_student.student_id=t_student_info.student_id
        right join t_hour_info on t_hour_info.hour_id=r_hour_student.hour_id
        where t_student_info.is_delete=0
        <if test="search !=null and search !=''">
            and concat(t_student_info.student_name,t_grade_info.grade_name,t_hour_info.remain_hour) like concat('%',#{search},'%')
        </if>
        <if test="schoolName !=null and schoolName !=''">
            and t_grade_info.school_name = #{schoolName}
        </if>
        <if test="gradeId !=null and gradeId !=''">
            and t_grade_info.grade_id = #{gradeId}
        </if>
        <if test="remainHour !=null and remainHour !=''">
            and t_hour_info.remain_hour = #{remainHour}
        </if>
        <if test="age !=null and age !=''">
            and t_student_info.age = #{age}
        </if>
        <if test="sort !=null and sort !=''">
            order by t_student_info.student_id  #{sort}
        </if>
    </select>
    <!-- 根据id查获取单个学员对象 -->
    <select id="loadById" resultType="com.yjy.model.Student">
        select
        <include refid="start"></include>
        from t_student_info
        where student_id=#{0}
    </select>
    <!--    根据id查出对应学员信息、班级、校区、报名-->
    <select id="loadInfo"  resultMap="studentMap">
        select t_student_info.student_name,t_student_info.school_name,t_student_info.birthday,t_student_info.age,
               t_grade_info.grade_name,t_enroll_info.creat_time,
               t_hour_info.remain_hour
        from t_student_info right join r_grade_student on r_grade_student.student_id=t_student_info.student_id
                            right join t_grade_info on r_grade_student.grade_id=t_grade_info.grade_id
                            right join r_hour_student on r_hour_student.student_id=t_student_info.student_id
                            right join t_hour_info on t_hour_info.hour_id=r_hour_student.hour_id
                            right join r_student_enroll on r_student_enroll.student_id=t_student_info.student_id
                            right join t_enroll_info on t_enroll_info.enroll_id=r_student_enroll.enroll_id
        where t_student_info.student_id=#{0}
    </select>
<!--    生成新学员 同时新增报名 最初课时-->
    <insert id="insertStudent" parameterType="com.app.dto.WxInsertDto">
        insert into t_student_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId !=null">student_id,</if>
            <if test="studentName !=null">student_name,</if>
            <if test="birthday !=null">birthday,</if>
            <if test="schoolName !=null">school_name,</if>
            <if test="createTime !=null">create_time,</if>
            <if test="updateTime !=null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId !=null">#{studentId},</if>
            <if test="studentName !=null">#{studentName},</if>
            <if test="birthday !=null">#{birthday},</if>
            <if test="schoolName !=null">#{schoolName},</if>
            <if test="createTime !=null">#{createTime},</if>
            <if test="updateTime !=null">#{updateTime},</if>
        </trim>
    </insert>
<!--    查询校区下所有学员信息-报名支付选择学员-->
    <select id="listByEnroll" parameterType="com.app.dto.WxAllDto" resultType="com.yjy.model.Student">
        select
        <include refid="start"></include>
        from t_student_info
        where is_delete=0 and school_name=#{schoolName}
    </select>
<!--    学员列表 根据家长id查询名下学员 家长端学员列表-->
    <select id="listByUser" resultMap="studentMap2">
        select t_student_info.student_name,t_student_info.birthday,t_student_info.school_name,t_student_info.photo,
               t_grade_info.grade_name,
               t_hour_info.remain_hour
        from t_student_info right join r_user_student on r_user_student.student_id=t_student_info.student_id
                            right join r_hour_student on r_hour_student.student_id=t_student_info.student_id
                            right join t_hour_info on t_hour_info.hour_id=r_hour_student.hour_id
                            right join r_grade_student on r_grade_student.student_id=t_student_info.student_id
                            right join t_grade_info on t_grade_info.grade_id=r_grade_student.grade_id
        where r_user_student.parent_id = #{0}
    </select>
    <!-- 编辑学员  家长端学员-->
    <update id="updateStudent" parameterType="com.app.dto.WxUpdateDto">
        update t_student_info
        <trim prefix="set " suffixOverrides=",">
            <if test="studentName !=null">student_name=#{studentName},</if>
            <if test="birthday !=null">birthday=#{birthday},</if>
            <if test="photo !=null">photo=#{photo},</if>
            <if test="updateTime !=null">update_time=#{updateTime},</if>
        </trim>
        where student_id=#{studentId}
    </update>
</mapper>